.modo_claro {
  --cor-fundo: #fff;
  --cor-texto: #000;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  min-height: 100vh;
  transition: background-color 0.3s;
}

.modo_escuro {
  --cor-fundo: hsl(0, 3%, 14%);
  --cor-texto: #fff;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  min-height: 100vh;
  transition: background-color 0.3s;
}

.main_container {
  display: flex;
  flex-direction: column;
}
